data/node_red/flows.json
[
    {
        "id": "24bcb24c3775858e",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8abcfa4285a64e28",
        "type": "tab",
        "label": "Init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a456f3115b876e96",
        "type": "tab",
        "label": "Register gateway",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cd67813776a9297",
        "type": "tab",
        "label": "Receive data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f7fe0dff64a8457",
        "type": "tab",
        "label": "Aggregate data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e01a8318facb448e",
        "type": "tab",
        "label": "Send aggregated data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78d678c245e7c6f5",
        "type": "tab",
        "label": "Cleanup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36c212ac3767eebf",
        "type": "serial-port",
        "serialport": "/dev/tty.usbmodem1101",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c628f8e8d8157672",
        "type": "sqlitedb",
        "db": "${NODERED_SQLITE_DB}",
        "mode": "RWC"
    },
    {
        "id": "4da2cc2d119258c0",
        "type": "ui_tab",
        "name": "Latest data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e691eca550d8db3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ce46afceed5d9044",
        "type": "ui_group",
        "name": "Latest data date",
        "tab": "4da2cc2d119258c0",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd77e61d13dc3b19",
        "type": "ui_group",
        "name": "Server communication",
        "tab": "a394b361312873e2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "734ad7b64f40158b",
        "type": "ui_tab",
        "name": "Latest data date",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9845937855a560ce",
        "type": "ui_group",
        "name": "Latest data",
        "tab": "4da2cc2d119258c0",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a394b361312873e2",
        "type": "ui_tab",
        "name": "Server communication",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da8c1ee988299137",
        "type": "ui_gauge",
        "z": "24bcb24c3775858e",
        "name": "",
        "group": "9845937855a560ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "375bcb2d46558ac8",
        "type": "ui_gauge",
        "z": "24bcb24c3775858e",
        "name": "",
        "group": "9845937855a560ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Degrees",
        "format": "{{payload.temperature}}",
        "min": "-30",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "2fbefff0db13df2e",
        "type": "inject",
        "z": "24bcb24c3775858e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e8d4af1ce38befd5",
                "f105ceb239e1df28"
            ]
        ]
    },
    {
        "id": "e8d4af1ce38befd5",
        "type": "sqlite",
        "z": "24bcb24c3775858e",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT temperature, humidity, date FROM data\nORDER BY date DESC\nLIMIT 1",
        "name": "Get latest data",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "4169e308143740e5",
                "cabc99cac407a819"
            ]
        ]
    },
    {
        "id": "4169e308143740e5",
        "type": "switch",
        "z": "24bcb24c3775858e",
        "name": "Show gauges if we have data",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "83354551b1f1ea28"
            ],
            [
                "66726a028429cf1d"
            ]
        ]
    },
    {
        "id": "83354551b1f1ea28",
        "type": "function",
        "z": "24bcb24c3775858e",
        "name": "Transform data",
        "func": "const payload = msg.payload[0];\nreturn {\n    payload\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "da8c1ee988299137",
                "375bcb2d46558ac8",
                "506dffd6c51745a4"
            ]
        ]
    },
    {
        "id": "66726a028429cf1d",
        "type": "ui_text",
        "z": "24bcb24c3775858e",
        "group": "ce46afceed5d9044",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "No data",
        "format": "No data recorded yet",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "cabc99cac407a819",
        "type": "debug",
        "z": "24bcb24c3775858e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "506dffd6c51745a4",
        "type": "ui_text",
        "z": "24bcb24c3775858e",
        "group": "ce46afceed5d9044",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latest data received at",
        "format": "{{msg.payload.date}}",
        "layout": "col-center",
        "className": "",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "f105ceb239e1df28",
        "type": "sqlite",
        "z": "24bcb24c3775858e",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT sentAt FROM aggregated_data \nWHERE sentAt IS NOT NULL\nORDER BY sentAt DESC \nLIMIT 1",
        "name": "Last sent date",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "ba774ee376154f3f"
            ]
        ]
    },
    {
        "id": "b25d98a34d5f01db",
        "type": "ui_text",
        "z": "24bcb24c3775858e",
        "group": "dd77e61d13dc3b19",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last data sent at",
        "format": "{{msg.payload[0}.sentAt}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "ba774ee376154f3f",
        "type": "switch",
        "z": "24bcb24c3775858e",
        "name": "Show date if we have sent something",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "b25d98a34d5f01db"
            ],
            [
                "a8ff237eb1734778"
            ]
        ]
    },
    {
        "id": "a8ff237eb1734778",
        "type": "ui_text",
        "z": "24bcb24c3775858e",
        "group": "dd77e61d13dc3b19",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "No data sent yet",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "e0eda3726175cf19",
        "type": "sqlite",
        "z": "8abcfa4285a64e28",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "create table if not exists data\n(\n    id           integer not null\n        constraint data_pk\n            primary key autoincrement,\n    humidity     real    not null,\n    temperature  real    not null,\n    date         TIMESTAMP,\n    aggregatedAt TIMESTAMP default null\n);\n\n",
        "name": "Create data table if not exists",
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c9fec765f0aa752d",
        "type": "inject",
        "z": "8abcfa4285a64e28",
        "name": "App started",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "e0eda3726175cf19",
                "c5262e6969b8ad97",
                "55b13ad2f306ef0c"
            ]
        ]
    },
    {
        "id": "c5262e6969b8ad97",
        "type": "sqlite",
        "z": "8abcfa4285a64e28",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "create table if not exists settings\n(\n    id    TEXT\n        constraint settings_pk\n            primary key,\n    value TEXT\n);\n\n",
        "name": "Create settings table if not exists",
        "x": 520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55b13ad2f306ef0c",
        "type": "sqlite",
        "z": "8abcfa4285a64e28",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "create table if not exists aggregated_data\n(\n    id          integer not null\n        constraint aggregated_data_pk\n            primary key autoincrement,\n    humidity    real,\n    temperature real,\n    date        TIMESTAMP,\n    sentAt      TIMESTAMP\n);",
        "name": "Create aggregated data table",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5c0e1257bcd81b94",
        "type": "catch",
        "z": "a456f3115b876e96",
        "name": "Gateway not authed",
        "scope": [
            "417f06b5e08fac4a",
            "48042c6be9db02f0"
        ],
        "uncaught": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "805095ea76578cfc"
            ]
        ]
    },
    {
        "id": "e7ebaf9d80abef60",
        "type": "http request",
        "z": "a456f3115b876e96",
        "name": "Register gateway",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:3000/api/trpc/station.register",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 870,
        "y": 180,
        "wires": [
            [
                "81c267c34c603b54"
            ]
        ]
    },
    {
        "id": "c4b636062ea0a9b0",
        "type": "inject",
        "z": "a456f3115b876e96",
        "name": "Every 30 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "9e3a3facae4d9986"
            ]
        ]
    },
    {
        "id": "4026011227fd5951",
        "type": "sqlite",
        "z": "a456f3115b876e96",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Save authcode",
        "x": 920,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "805095ea76578cfc",
        "type": "sqlite",
        "z": "a456f3115b876e96",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT value FROM settings WHERE id='identifier'",
        "name": "Read gateway info",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "ea7461b748e6d25b"
            ]
        ]
    },
    {
        "id": "9e3a3facae4d9986",
        "type": "sqlite",
        "z": "a456f3115b876e96",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT value FROM settings WHERE id='authcode'",
        "name": "Read authcode",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "48042c6be9db02f0"
            ]
        ]
    },
    {
        "id": "48042c6be9db02f0",
        "type": "function",
        "z": "a456f3115b876e96",
        "name": "Extract value",
        "func": "msg = {token: msg.payload[0].value};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "b8de391e0098e3bc"
            ]
        ]
    },
    {
        "id": "ea7461b748e6d25b",
        "type": "function",
        "z": "a456f3115b876e96",
        "name": "Prepare register values",
        "func": "const identifier = msg.payload[0].value;\nmsg = {payload: {json: {identifier}}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "e7ebaf9d80abef60"
            ]
        ]
    },
    {
        "id": "81c267c34c603b54",
        "type": "function",
        "z": "a456f3115b876e96",
        "name": "Prepare SQL authcode insert",
        "func": "\nmsg = {\n    topic: \"INSERT INTO settings (id, value) VALUES('authcode', $auth)\",\n    payload: [msg.payload.result.data.json]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "4026011227fd5951"
            ]
        ]
    },
    {
        "id": "b8de391e0098e3bc",
        "type": "debug",
        "z": "a456f3115b876e96",
        "name": "gateway registered",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Gateway already registered\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed86ef97bebd5f05",
        "type": "serial in",
        "z": "5cd67813776a9297",
        "name": "Arduino",
        "serial": "36c212ac3767eebf",
        "x": 410,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3bb7ef235c3a8e07",
        "type": "sqlite",
        "z": "5cd67813776a9297",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO data (temperature, humidity)\nVALUES (?, ?)",
        "name": "Insert data",
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "f7a84e6bd0a4370c"
            ]
        ]
    },
    {
        "id": "8ff8f12f8e55538a",
        "type": "function",
        "z": "5cd67813776a9297",
        "name": "Prepare statement",
        "func": "var prev = msg\nmsg = {}\nmsg.topic = `INSERT INTO data (temperature, humidity, date) VALUES ($temp, $humid, $date)`\nmsg.payload = [prev.payload.temp, prev.payload.hum, new Date().toISOString()]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "3bb7ef235c3a8e07"
            ]
        ]
    },
    {
        "id": "e7c59655dcdf1f86",
        "type": "json",
        "z": "5cd67813776a9297",
        "name": "Parse json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "8ff8f12f8e55538a"
            ]
        ]
    },
    {
        "id": "115e425a0919973d",
        "type": "inject",
        "z": "5cd67813776a9297",
        "name": "Every 2 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "2229a4de2e7944da"
            ]
        ]
    },
    {
        "id": "2229a4de2e7944da",
        "type": "function",
        "z": "5cd67813776a9297",
        "name": "Generate mock data",
        "func": "const temp = (Math.random() * 60) - 30;\nconst hum = (Math.random() * 80);\nreturn {payload: JSON.stringify({temp, hum})};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "e7c59655dcdf1f86"
            ]
        ]
    },
    {
        "id": "f7a84e6bd0a4370c",
        "type": "debug",
        "z": "5cd67813776a9297",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"inserted new data at \" & $moment()\t",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "9313ff5e0af04abf",
        "type": "comment",
        "z": "5cd67813776a9297",
        "name": "Use arduino node instead when possible",
        "info": "When arduino is connected, \nuse the Arduino node instead of generating mock data",
        "x": 340,
        "y": 200,
        "wires": []
    },
    {
        "id": "14c81525869cc432",
        "type": "inject",
        "z": "1f7fe0dff64a8457",
        "name": "Every 10s",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "8131780a860ec0f7"
            ]
        ]
    },
    {
        "id": "affde963e2980197",
        "type": "function",
        "z": "1f7fe0dff64a8457",
        "name": "Aggretate and prepare statement",
        "func": "const min_date = msg.payload.map(({ date }) => date).reduce((min,  date ) => {\n    return min < date ? min : date;\n})\n\nconst length = msg.payload.length;\n\nconst sum_temp = msg.payload.reduce((acc, d) => acc + d.temperature, 0);\nconst avg_temp = sum_temp/ length;\n\nconst sum_hum = msg.payload.reduce((acc, d) => acc + d.humidity, 0);\nconst avg_hum = sum_hum / length;\n\nreturn {\n    topic: 'INSERT INTO aggregated_data (humidity, temperature, date) VALUES ($hum, $temp, $date)', \n    payload: [avg_hum, avg_temp, min_date],\n    data_ids: msg.payload.map(({id}) => id)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "4e56a7c5ba6fbca8"
            ]
        ]
    },
    {
        "id": "8131780a860ec0f7",
        "type": "sqlite",
        "z": "1f7fe0dff64a8457",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT *\nFROM data\nWHERE aggregatedAt IS NULL\n  AND (unixepoch('now') - unixepoch(date)) >= 120\n  AND\n              (unixepoch(date) - (SELECT unixepoch(MIN(date))\n                                  FROM data\n                                  WHERE aggregatedAt IS NULL)\n                  )  <= 120;",
        "name": "Fetch 2 minutes of data since first not aggregated data, only want",
        "x": 460,
        "y": 60,
        "wires": [
            [
                "31e7efd9b45a34eb"
            ]
        ]
    },
    {
        "id": "31e7efd9b45a34eb",
        "type": "switch",
        "z": "1f7fe0dff64a8457",
        "name": "Take if not empty",
        "property": "$count(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "d523750caf0f2c9e"
            ],
            [
                "affde963e2980197"
            ]
        ]
    },
    {
        "id": "d523750caf0f2c9e",
        "type": "debug",
        "z": "1f7fe0dff64a8457",
        "name": "Debug no data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"ignoring empty data\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e56a7c5ba6fbca8",
        "type": "sqlite",
        "z": "1f7fe0dff64a8457",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Save aggregated data",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "26cac60adb2ce17c"
            ]
        ]
    },
    {
        "id": "e07acc2fa9a81b65",
        "type": "sqlite",
        "z": "1f7fe0dff64a8457",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Mark data as aggregated",
        "x": 850,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "26cac60adb2ce17c",
        "type": "function",
        "z": "1f7fe0dff64a8457",
        "name": "Prepare query for marking data as aggregated",
        "func": "let topic = \"UPDATE data SET aggregatedAt = datetime() WHERE id in \"\ntopic += \"(\" + msg.data_ids.map((_, i) => \"$id\" + i).join(\",\") +  \")\"\nreturn {\n    topic,\n    payload: msg.data_ids\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "e07acc2fa9a81b65"
            ]
        ]
    },
    {
        "id": "1b96ac2df139d54c",
        "type": "sqlite",
        "z": "e01a8318facb448e",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM aggregated_data WHERE sentAt is NULL ORDER BY date LIMIT 100",
        "name": "Read aggregated data (max 100)",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "1b3df56e02ae00f5"
            ]
        ]
    },
    {
        "id": "e820de3e4f6f9668",
        "type": "debug",
        "z": "e01a8318facb448e",
        "name": "Debug no data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"ignoring empty data\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b3df56e02ae00f5",
        "type": "switch",
        "z": "e01a8318facb448e",
        "name": "Take if not empty",
        "property": "$count(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "e820de3e4f6f9668"
            ],
            [
                "918adb3cfcc7a145"
            ]
        ]
    },
    {
        "id": "33346f24098cc5e7",
        "type": "function",
        "z": "e01a8318facb448e",
        "name": "Prepare request body",
        "func": "\nconst message = {\n    payload:{\n    json: {\n        token: msg.payload[0].value,\n        data: msg.data\n    },\n    },\n    data_ids: msg.data.map(({ id }) => id)\n};\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "adcad3466c8f421b"
            ]
        ]
    },
    {
        "id": "8f6737b052d96c69",
        "type": "inject",
        "z": "e01a8318facb448e",
        "name": "Every 30s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "1b96ac2df139d54c"
            ]
        ]
    },
    {
        "id": "adcad3466c8f421b",
        "type": "http request",
        "z": "e01a8318facb448e",
        "name": "Send data",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:3000/api/trpc/station.uploadData",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 750,
        "y": 380,
        "wires": [
            [
                "2a2e3761707d83f4"
            ]
        ]
    },
    {
        "id": "cc10b69c3f96ec46",
        "type": "sqlite",
        "z": "e01a8318facb448e",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Mark data as sent",
        "x": 770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e219bd3555195adb",
        "type": "sqlite",
        "z": "e01a8318facb448e",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "SELECT value FROM settings WHERE id='authcode'",
        "name": "Read authcode",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "33346f24098cc5e7"
            ]
        ]
    },
    {
        "id": "2a2e3761707d83f4",
        "type": "function",
        "z": "e01a8318facb448e",
        "name": "Prepare update query",
        "func": "const topic = \"UPDATE aggregated_data SET sentAt=datetime() WHERE id IN (\" + msg.data_ids.map((_, i) => \"$id\" +i).join(\",\") + \")\"\nreturn {\n    topic,\n    payload: msg.data_ids\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "cc10b69c3f96ec46"
            ]
        ]
    },
    {
        "id": "918adb3cfcc7a145",
        "type": "function",
        "z": "e01a8318facb448e",
        "name": "Rename data",
        "func": "\nreturn {\n    data: msg.payload\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "e219bd3555195adb"
            ]
        ]
    },
    {
        "id": "ba81707626e4bec4",
        "type": "inject",
        "z": "78d678c245e7c6f5",
        "name": "Every 12 hours",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "435f1d661a26e23f",
                "d59ce3f0d3daa96f"
            ]
        ]
    },
    {
        "id": "435f1d661a26e23f",
        "type": "sqlite",
        "z": "78d678c245e7c6f5",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "DELETE FROM data WHERE aggregatedAt IS NOT NULL AND  unixepoch('now') - unixepoch(aggregatedAt) > (60*60*24)",
        "name": "Remove data aggregated at least 1 day ago",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d59ce3f0d3daa96f",
        "type": "sqlite",
        "z": "78d678c245e7c6f5",
        "mydb": "c628f8e8d8157672",
        "sqlquery": "fixed",
        "sql": "DELETE FROM aggregated_data WHERE sentAt IS NOT NULL AND unixepoch('now') - unixepoch(sentAt) >= (60*60*24*3)",
        "name": "Remove Aggregated data sent at least 3 days ago",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    }
]